[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
attr = "*"
pandas = "*"
scikit-learn = "*"
sqlalchemy = "*"
fsspec = "*"
s3fs = "*"
tdqm = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
