[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
fsspec = "*"
s3fs = "*"
tdqm = "*"
mkdocs = "*"
mkdocs-gitbook = "*"
pygments = "*"
mkdocs-rtd-dropdown = "*"
mkdocs-material = "*"
mkdocstrings = "*"
setuptools = "*"
mkdocs-autorefs = "*"
mkdocstrings-python = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.11"
