aiobotocore==2.7.0
aiohttp==3.8.6
aioitertools==0.11.0
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
babel==2.13.1
botocore==1.31.64
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
frozenlist==1.4.0
fsspec==2023.10.0
ghp-import==2.1.0
griffe==0.37.0
idna==3.4
jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
markdown==3.5.1
markupsafe==2.1.3
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-autorefs==0.5.0
mkdocs-gitbook==0.0.1
mkdocs-material==9.4.8
mkdocs-material-extensions==1.3
mkdocs-rtd-dropdown==1.0.2
mkdocstrings==0.23.0
mkdocstrings-python==1.7.4
multidict==6.0.4
numpy==1.26.2
packaging==23.2
paginate==0.5.6
pandas==2.1.3
pathspec==0.11.2
platformdirs==4.0.0
pygments==2.16.1
pymdown-extensions==10.4
python-dateutil==2.8.2
pytz==2023.3.post1
pyyaml==6.0.1
pyyaml-env-tag==0.1
regex==2023.10.3
requests==2.31.0
s3fs==2023.10.0
scikit-learn==1.3.2
scipy==1.11.3
setuptools==68.2.2
six==1.16.0
tqdm==4.66.1
threadpoolctl==3.2.0
tzdata==2023.3
urllib3==2.0.7
watchdog==3.0.0
wrapt==1.16.0
yarl==1.9.2
