-i https://pypi.org/simple
aiobotocore==2.7.0 ; python_version >= '3.8'
aiohttp==3.8.6 ; python_version >= '3.6'
aioitertools==0.11.0 ; python_version >= '3.6'
aiosignal==1.3.1 ; python_version >= '3.7'
async-timeout==4.0.3 ; python_version >= '3.7'
attrs==23.1.0 ; python_version >= '3.7'
babel==2.13.1 ; python_version >= '3.7'
botocore==1.31.64 ; python_version >= '3.7'
certifi==2023.7.22 ; python_version >= '3.6'
charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'
click==8.1.7 ; python_version >= '3.7'
colorama==0.4.6 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
frozenlist==1.4.0 ; python_version >= '3.8'
fsspec==2023.10.0
ghp-import==2.1.0
griffe==0.37.0 ; python_version >= '3.8'
idna==3.4 ; python_version >= '3.5'
jinja2==3.1.2 ; python_version >= '3.7'
jmespath==1.0.1 ; python_version >= '3.7'
joblib==1.3.2 ; python_version >= '3.7'
markdown==3.5.1 ; python_version >= '3.8'
markupsafe==2.1.3 ; python_version >= '3.7'
mergedeep==1.3.4 ; python_version >= '3.6'
mkdocs==1.5.3
mkdocs-autorefs==0.5.0
mkdocs-gitbook==0.0.1
mkdocs-material==9.4.8
mkdocs-material-extensions==1.3 ; python_version >= '3.8'
mkdocs-rtd-dropdown==1.0.2
mkdocstrings==0.23.0
mkdocstrings-python==1.7.4
multidict==6.0.4 ; python_version >= '3.7'
numpy==1.26.2
packaging==23.2 ; python_version >= '3.7'
paginate==0.5.6
pandas==2.1.3
pathspec==0.11.2 ; python_version >= '3.7'
platformdirs==4.0.0 ; python_version >= '3.7'
pygments==2.16.1
pymdown-extensions==10.4 ; python_version >= '3.8'
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2023.3.post1
pyyaml==6.0.1 ; python_version >= '3.6'
pyyaml-env-tag==0.1 ; python_version >= '3.6'
regex==2023.10.3 ; python_version >= '3.7'
requests==2.31.0 ; python_version >= '3.7'
s3fs==2023.10.0
scikit-learn==1.3.2
scipy==1.11.3 ; python_version < '3.13' and python_version >= '3.9'
setuptools==68.2.2
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
tdqm==0.0.1
threadpoolctl==3.2.0 ; python_version >= '3.8'
tqdm==4.66.1 ; python_version >= '3.7'
tzdata==2023.3 ; python_version >= '2'
urllib3==2.0.7 ; python_version >= '3.7'
watchdog==3.0.0 ; python_version >= '3.7'
wrapt==1.16.0 ; python_version >= '3.6'
yarl==1.9.2 ; python_version >= '3.7'
